@font-face {
  font-family: "Ailerons";
  font-style: normal;
  src: url("~@/assets/fonts/Ailerons-Typeface.otf");
}

body {
  font-family: Ailerons;
  background-color: #fff;
  background-image: linear-gradient(#000 1px, transparent 0), linear-gradient(90deg, #000 1px, transparent 0);
  background-size:
    100px 450px,
    400px 400px;
}
